/* Blocks */

.basic-block {
    margin-left: 25px;
    margin-right: 25px;

    margin-top: 15px;

    padding: 10px;
}

.word-header {
 text-align: center;
}

.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-label {
    display: flex;

    width: 150px;
    height: 150px;

    justify-content: center;
    align-items: center;

    font-size: 25px;
    color: white;
    background-color: indianred;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-block {
    flex: 0 50%;
}

div[disabled]
{
    pointer-events: none;
    opacity: 0.7;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #f8f9fa; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.player-table {
    margin: 15px;
    width: 100%;
}

.player-table td {
    color: black;
}

.sheet {
    border-radius: 25px;
    padding: 5px;
}

.white-sheet {
    background-color: antiquewhite;
    color: orange;
}

.white-sheet th, .white-sheet td {
    color:orange;
    border-top-color: orange !important;
    border-bottom-color: orange !important;
}

.black-sheet {
    background-color: dimgray;
    color: white;
}

.black-sheet th, .black-sheet td {
    color:white;
    border-top-color: white !important;
    border-bottom-color: white !important;
}

/* Menu */

.game-container {

    background-color: #999999;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    min-height: 570px;
}

.game {

    display: inline-block;
    margin: 10px 0 0 2%;
    flex-grow: 0;
    width: 250px;
    height: 250px;

    border-radius: 10px;

    background-color: dimgray;
    position: relative;

    transition: .5s ease;
    backface-visibility: hidden;
}

.game .status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 30px;
}


.game .add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    color: white;
    font-size: 35px;
}

.game .host {
    position: absolute;
    top: 5%;
    left: 5%;

    color: white;
    font-size: 20px;
}

.game .player {
    position: absolute;
    bottom: 5%;
    left: 5%;

    color: white;
    font-size: 20px;
}

.game .time {
    position: absolute;
    bottom: 5%;
    right: 5%;

    color: white;
    font-size: 20px;
}

.game .front {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.game:hover .back {
    opacity: 0.3;
}

.game:hover .front {
    opacity: 1;
}

.add {
    width: 200px;
    height: 200px;
    transition: .5s ease;
    opacity: 0.3;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.add:hover {
  opacity: 1;
}

.horizontal-plus {
    position: relative;
    background-color: #FFFFFF;
    width: 50%;
    height: 12.5%;
    left: 25%;
    top: 43.75%;
}
.vertical-plus {
    position: relative;
    background-color: #FFFFFF;
    width: 12.5%;
    height: 50%;
    left: 43.75%;
    top: 12.5%;
}
